
   
     <div class="m-5">
       <%= link_to user_path(@music.user.id) do %>
         <% if @music.user.image.attached? %>
         <%= image_tag @music.user.image, size: "100x100" %>
          <% else %>
           <%= image_tag 'logo2', size: "150x150", class: "rounded mx-auto mb-2" %>
          <% end %>
        <% end %>
       <div><%= @music.user.user_name %></div>
     </div>
   <div class="container">
     <div class="row">
       <div class="col-4">
           
         <%= form_with(model:[@music, @comment], method: :post) do |f| %>
         <%= f.text_area :comment_content , class: "form-control text-center" %>
         <%= f.hidden_field :music_id, value: @music.id %>
         <h4 class="pt-3"><%= f.submit"コメントをする", class: "btn btn-success" %></h4>
         <% end %>
         
         <% if @music.favorited?(current_user) %>
           <%= link_to music_favorites_path(@music.id), method: :delete do %>
           <span style="color:red;">❤︎</span>
           <% end %>
           <%= @music.favorites.count %>いいね
         <% else %>
            <%= link_to music_favorites_path(@music.id), method: :post do %>
             <span>♡</span>
            <% end %>
            <%= @music.favorites.count %>いいね
         <% end %>
         
         <% if @music.albumed_by?(current_user) %>
           <td><%= link_to "アルバムに追加", music_album_path(@music), method: :delete %></td>
         <% else %>
           <td><%= link_to "アルバムから削除", music_albums_path(@music), method: :post %></td>
         <% end %>
       </div>
      <div class="col-4 text-center">
        <%= form_with model: @music do |f| %>
        <div><h4><strong><%= @music.name %></strong></h4></div>
        <%= image_tag @music.image ,size: "300x300"%>
        <div>
          <%= audio_tag f.object.audio_url, controls: true if f.object.audio? %>
        </div>
       <% end %>
      </div>
      <div class="col-4 text-center">
        <h3><strong>コメント</strong></h3>
        <% @comments.each do |comment| %>
        <div class="alert alert-info" role="alert">
          <%= comment.comment_content %></br>
        </div>
        <% end %>
      </div>
    </div>
  </div>