<div class="container">
  <div class="row my-4 ml-5">
    <h2>管理ログイン</h2>
  </div>

<%= form_with(model: resource, local: true, url: admin_session_path) do |f| %>
  <div class="field">
    <div class="d-flex justify-content-start col-8 mx-auto">
      <p class="col-3"><%= f.label :Eメール %></p><br />
      <p class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control input-md" %></p>
    </div>
  </div>

  <div class="field">
    <div class="d-flex justify-content-start col-8 mx-auto">
      <p class="col-3"><%= f.label :パスワード %></p><br />
      <p class="col-6"><%= f.password_field :password, autocomplete: "current-password", class: "form-control input-md" %></p>
    </div>
  </div>

  <div class="d-flex justify-content-start col-8 mx-auto">
    <p class="col-3"></p>
    <p class="col-6"><%= f.submit "ログイン" ,class: "btn btn-primary" %></p>
  </div>
<% end %>

<%#= render "admin/shared/links" %>
