<div class="container">
  <div class="text-center">
    <h4>ユーザーネーム</h4>
    <div class="m-3"><strong><%= @user.user_name %></strong></div>
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
      <%= f.radio_button :withdrawal, false %>
      <%= f.label :withdrawal, '有効', value: false %>
      <%= f.radio_button :withdrawal, true %>
      <%= f.label :withdrawal, '退会', value: true %></br>
      <div class="mb-2"><%= f.submit "編集を保存", class: "btn btn-success" %></div>
    <% end %>
   </div>
     <div class="text-center">
       <% @comments.each do |comment| %>
       <div class="alert alert-info" role="alert">
         <%= comment.comment_content %>
       </div>
       <% end %>
     </div>
</div>