<!DOCTYPE html>
<html>
  <head>
    <title>DtmPlus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
      <!--<div class="container">-->
       <%= link_to(image_tag("logo4.jpg", style: "width: 50px; height: 50px rounded mx-auto mb-2;"), root_path) %>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls"navbarNavDropdown" aria-expand="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
              <li>
               <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light"  %>
              </li>
          <% elsif user_signed_in? %>
              <li>
               <%= link_to "楽曲一覧", musics_path, class: "nav-link text-light"  %>
              </li>
              <li>
               <%= link_to "マイページ", user_path(current_user), class: "nav-link text-light"  %>
              </li>
              <li>
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light"  %>
              </li>
          <% elsif user_signed_in? && current_user.guest? %>
               <li>
               <%= link_to "楽曲一覧", musics_path, class: "nav-link text-light"  %>
              </li>
          <% else %>
              <li>
               <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
              </li>
              <li>
               <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
              </li>
          <% end %>
         </ul>
        </div>
       <!--</div>-->
    </nav>
   </header>

   <main  class="mb-5">
    <div>
     <%= yield %>
    </div>
   </main>
   <footer class="footer">
  <div class="container">
  </div>
</footer>
  </body>
</html>
